fastapi
uvicorn
python-socketio
opencv-python
mediapipe
librosa
soundfile
openai
textblob
supabase
python-dotenv
google-generativeai
numpy
requests
python-multipart
uvicorn
python-socketio
opencv-python
mediapipe
librosa
soundfile
openai
textblob
supabase
python-dotenv
python-multipart
google-generativeai
numpy
requests
